.cart-form {
  margin-top: 30px;

  table {
    width: 100%;
    color: $color-body-text-dark;

    @media only screen and (min-width: 750px) {
      tr {
        td {
          text-align: center;
        }
      }
    }
  }

  .form-actions {
    margin-top: 30px;
  }
}