footer {
  background-color: $color-body-text-dark;
  color: $color-body-text;
  
  .flex-wrapper {
    justify-content: space-between;
    
    p {
      font-size: 14px;
    }
  }
  
  .footer-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}