.image-with-text-block {
  width: 100%;
  
  h4, p {
    text-align: center;
  }
  
  h4 {
    margin: 2rem 0.5rem 1.5rem;
  }
  
  p {
    margin-bottom: 2rem;
  }
  
  @media only screen and (min-width: 750px) {
    width: 50%;
    
    h4, p {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  
  @media only screen and (min-width: 990px) {
    width: 25%;
  }
}

.image-wrapper {
  opacity: 0;
  @include transition(opacity 0.3s);
  background-size: cover;
  background-position: 50% 50%;
  
  img {
    display: none;
  }
}

.image-wrapper:after {
  padding-top: 75%;
  display: block;
  content: '';
}
