<section class="section-centred">
  <div class="wrapper wrapper-nav-padded">
    <div class="section-heading italic-heading">
      <span class="heading-smaller">{{ page.content }}</span>
    </div>
  </div>
</section>

<section class="section-centred">
  <div class="wrapper wrapper-caps-heading">
    <h4 class="caps-heading">Press</h4>
  </div>
  <div class="wrapper wrapper-stacked-top">
    <div class="flex-wrapper flex-wrapper-inline-tablet">
      <div class="flex-section sticky-wrapper">
        <div class="sticky-content hide-on-mobile">
          <img src="{{ 'otago-times.jpg' | asset_url }}" alt="Otago Times Article Image"/>
        </div>
        <div class="show-on-mobile" style="margin-bottom: 15px;">
          <img src="{{ 'otago-times.jpg' | asset_url }}" alt="Otago Times Article Image"/>
        </div>
      </div>
      <div class="flex-section">
        <div class="body-copy">
          <h4 class="caps-heading" style="margin: 0px;">Otago Daily Times</h4>
          <h1 class="italic-heading color-inherit">NZ wool yoga mat ready for launch</h1>
          <div class="product-shipping uppercase">By Sally Rae</div>
          <p>Dana McKenzie always felt it was somewhat of an oxymoron to be practising yoga on a "stinky" PVC mat. So, armed with a passion for wool - and a desire to find a use for it - the Romanian-born entrepreneur decided to do something about it.</p>
          <p>This weekend, Mrs McKenzie has been at OM Yoga in London, the biggest yoga gathering in Europe, to launch wool mats to thousands of yoga enthusiasts. Speaking to the Otago Daily Times, having just set up her stall, Mrs McKenzie said it had been a "big dream in the making" and she was thrilled to be there. She likened the venture to what New Zealand company Icebreaker had done in the apparel industry - pioneering a niche.</p>
          <p>Now living in Auckland, Mrs McKenzie lived abroad for about 20 years, mostly in the United States, France, Switzerland and Italy. Her husband was a Kiwi who came from a farming family. The couple moved to New Zealand nearly four years ago. She remembered hearing, long ago, her father-in-law talking about having to bury wool because it was not worth taking to auction. "I just thought, how wrong to have to bury wool which is beautiful. Why would you do that?" Mrs McKenzie recalled.</p>
          <p>She learned about how wool was being pushed out of the market by synthetic fibres and some farmers were not even breaking even with their wool clip. A computer engineer who had also been involved with business strategy, Mrs McKenzie decided she needed to "crack" the wool problem one day, when she had a chance.</p>
          <p>Eventually leaving behind corporate roles, she decided it was time to focus on an entrepreneurial career - and do something about wool. "I always knew I loved wool. I thought, how do I find a way to do something about that. It's a beautiful fibre ... a complete fibre." It seemed ridiculous, given the whole spiritual side of yoga, that the only thing available to practise it on was a "stinky mat".</p>
          <p>She believed synthetic fibres were not aligned with the yoga principles of "basically being non-harmful to the planet". Synthetics were not only petroleum-derived but, when they went to a landfill, they would not biodegrade for the next 200 years, she said.</p>
          <p>So Mrs McKenzie started looking at options for wool processing and came across felting, recognising there would need to be some extra help to ensure grip. She got the project to a certain point before putting it on hold. The felt-maker was based in Europe and the mother-of-four was not willing to travel all the time.</p>
          <p>Later, a friend in Europe who knew she had been working on the project encouraged her back into it and, together, they "resuscitated" it. Fifth Breath was formed. It had been "all go" for the last year since they decided to get serious about the business.</p>
          <p>A felting company was found in Germany and a non-toxic coating was applied on top of the mat. The wool was sourced through the New Zealand Merino Company. It was decided to pick an event in Europe to launch the mats. OM Yoga seemed ideal, given it attracted more than 30,000 visitors.</p>
          <p>Tests had been done with yoga teachers and there was "quite a buoyant" pre-order backlog, as word began to spread. The general public had never seen wool yoga mats and it was exciting to imagine what the yoga industry would think about a natural fibre product. It was also an opportunity to give wool another novel application and to promote wool "for all its merits", she said.</p>
          <p>Yoga was a "massive" industry globally with millions of practitioners. She expected Fifth Breath would have a premium niche, rather than being mass-market. Diversifying was also on the cards. There were lots of props and accessories in the yoga industry currently made from synthetic fibres. Through proper education, she hoped awareness would be raised of what synthetics were doing to the planet.</p>
          <p>New Zealand Merino Company market innovation general manager Jarrod Patrick said the company was very excited to be working with Fifth Breath. Not only did it share NZM's passion and understanding of the beneficial attributes of wool, but it also embodied the shift in consumer behaviour towards sustainable, ethically sourced products.</p>
          <p>"We were introduced to Fifth Breath via our community. New uses and new users of strong wool types are incredibly important to the growth of the wool industry as a whole. "Linking new brands like Fifth Breath to our grower partners like Pamu Farms [Landcorp] goes a long way to ensuring grower sustainability and profitability," Mr Patrick said.</p>
          <p>The Fifth Breath mat is made from a blend of stronger wool types selected for abrasion resistance, durability and pilling resistance.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-grey">
  <div class="wrapper wrapper-caps-heading">
    <h4 class="caps-heading">Testimonials</h4>
  </div>
  <div class="wrapper wrapper-stacked-top">
    <div class="flex-wrapper flex-wrapper-inline-tablet">
      <div class="flex-section testimonial">
        <p class="italic">Tactile, but not imposing through unpleasant smells or harsh textures, it lets you focus on your yoga. This mat is a true foundation for your best practice.</p>
        <span class="product-shipping uppercase">Dana</span>
      </div>
      <div class="flex-section testimonial">
        <p class="italic">I love the constant temperature it keeps, though cold or hot days. I don’t need a towel no matter how sweaty my practice gets because it absorbs the moisture and then it evaporates it.</p>
        <span class="product-shipping uppercase">Kate</span>
      </div>
      <div class="flex-section testimonial">
        <p class="italic">Cushioning for joints and back support is outstanding ... yet not heavy at all. Not just a mat, a whole new experience.</p>
        <span class="product-shipping uppercase">Jesper</span>
      </div>
    </div>
  </div>
</section>