<section class="section-centred">
  <div class="wrapper wrapper-nav-padded">
    <h1 class="section-heading italic-heading">Your mat life journey</h1>
  </div>
</section>

<section class="section-padded-bottom hide-on-mobile">
  <img src="{{ 'why-wool-desktop.jpg' | asset_url }}" alt="Why Wool Lifecycle Diagram"/>
</section>

<section class="section-padded-bottom show-on-mobile">
  <img src="{{ 'why-wool-mobile.jpg' | asset_url }}" alt="Why Wool Lifecycle Diagram"/>
</section>